<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      We received a request ro reset the password for your account.<br>
    </p>
    <p>
      If you requested a reset, click the button below. If you didn't make this request, please ignore this email.
    </p>
  </body>
</html>