<% content_for :title do %>
  <%= "Reset Password" %>
<% end %>

<% if @success %>
  <div class="reset-password-success small-6 column">
    <input type="password" class='password-input' id="password-field" placeholder="password" />
    <input type="password" class='password-input' id="confirm-field" placeholder="confirm" />
    <a class="change-password button tiny radius disabled">Change Password</a>
  </div>
<% else %>
  <div class="reset-password-failure">Please use the link emailed to you to get here. If you used the link and still see this, then try requesting a new email.</div>
<% end %>