/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* #056a85 #36879d #69a5b5 */

body {
  background-color: #FAFAFA;
}

/* Communities List styling */
.communities-wrapper {
  background-color: white;
  color: #333;
  border-radius: 3px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
}

.communities-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.communities-wrapper .community-item {
  margin-bottom: 5px;
}

.communities-wrapper .gear-icn {
  opacity: 0;
}

.communities-wrapper .fa-cog {
  font-size: 12px;
  margin-right: 4px;
  opacity: 0;
  cursor: pointer;
  color: #333;
}

.communities-wrapper .opaque {
  opacity: 0.5;
}

.communities-wrapper .solid {
  opacity: 0.75;
}

.communities-wrapper .community-line {
  color: #60b0c6;
  text-transform: capitalize;
}

.communities-wrapper .community-name {
  font-size: 13px;
  cursor: pointer;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 2px;
}

.communities-wrapper a.button.tiny {
  margin: 0 0 0 10px;
  padding: 5px 10px;
  background-color: white;
  color: rgba(0,0,0,0.6);
  border: 1px solid #F0F0F0;
}


/* Feed styling */
.feed-wrapper .post {
    margin-bottom: 20px;
    padding: 20px 20px 12px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #EEE;
    border-bottom: 1px solid #DDD;
}

.feed-wrapper .title {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
}

.feed-wrapper .post-username {
  color: #60b0c6;
  font-size: 14px;
}

.feed-wrapper .post-timestamp {
  font-size: 12px;
  margin-bottom: 15px;
  color: #CCC;
}

.feed-wrapper .post-title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.feed-wrapper .post-body {
  font-family: 'Lora', serif;
  margin-bottom: 5px;
}

.feed-wrapper .post-stats {
  margin: 10px 0;
  font-size: 13px;
}

.feed-wrapper .post-likes {
  cursor: pointer;
  color: #999;
  margin-right: 10px;
  float: right;
}

.feed-wrapper .fa-heart, .feed-wrapper .fa-heart-o {
  color: #60b0c6;
  margin-right: 3px;
}

/* Replies styling*/
.feed-wrapper .post-replies-count {
  color: #60b0c6;
  cursor: pointer;
  margin-right: 5px;
}

.feed-wrapper .reply-to-post {
  margin-top: 5px;
}

.feed-wrapper .reply:first-of-type {
  margin-top: 5px;
}

.feed-wrapper .reply:last-of-type {
  margin-bottom: 10px;
}

.feed-wrapper .reply {
  margin-bottom: 5px;
  font-size: 14px;
}

.feed-wrapper .reply-to-post input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
}

.feed-wrapper .reply-username {
  font-size: 12px;
  color: #60b0c6;
}

.feed-wrapper .reply-liked, .reply-not-liked {
  font-size: 12px;
}

.feed-wrapper .reply-not-liked {
  color: #CCC;
}

.feed-wrapper .reply-timestamp {
  font-size: 12px;
  margin-left: 5px;
}

.feed-wrapper .reply-timestamp:before {
  content: "●";
  padding-right: 5px;
  font-size: 8px;
  color: #333;
  position: relative;
  top: -1px;
}

.feed-wrapper .write-reply, #write-post-title, #write-post-body {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #DDD;
  resize: none;
}

#write-post-title, #write-post-body {
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
}

.feed-wrapper .write-reply {
  padding-left: 3px;
}

.feed-wrapper .post-btn {
  text-align: right;
}
