/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* #056a85 #36879d #69a5b5 */

body {
  background-color: #FAFAFA;
}

/* Top Notifications styling */
.top-notifications-wrapper {
  display: block;
  float: right;
  position: relative;
  margin-right: 2%;
  height: 30px;
}
.top-notifications-wrapper .dd-menu {
  position: absolute;
  left: -30px;
  top: 4px;
}

/* Communities List styling */
.communities-wrapper {
  background-color: white;
  color: #333;
  border-radius: 3px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
  margin-top: 50px;
}

.communities-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.communities-wrapper .community-item {
  margin-bottom: 5px;
}

.communities-wrapper .gear-icn {
  opacity: 0;
}

.communities-wrapper .fa-cog {
  font-size: 12px;
  margin-right: 4px;
  opacity: 0;
  cursor: pointer;
  color: #333;
}

.communities-wrapper .opaque {
  opacity: 0.5;
}

.communities-wrapper .solid {
  opacity: 0.75;
}

.communities-wrapper .community-line {
  color: #60b0c6;
  text-transform: capitalize;
}

.communities-wrapper .community-name {
  font-size: 13px;
  cursor: pointer;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 2px;
}

.communities-wrapper a.button.tiny {
  margin: 0 0 0 10px;
  padding: 5px 10px;
  background-color: white;
  color: rgba(0,0,0,0.6);
  border: 1px solid #F0F0F0;
}


/* Feed styling */
.feed-wrapper .post {
    margin-bottom: 3px;
    padding: 20px 20px 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #EEE;
    border-bottom: 1px solid #DDD;
}

.feed-wrapper .title {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
}

.feed-wrapper .post-heading {
  margin-bottom: 15px;
}

.feed-wrapper .post-username {
  color: #60b0c6;
  font-size: 14px;
  vertical-align: top;
}

.feed-wrapper .post-timestamp {
  font-size: 12px;
  color: #CCC;
  display: block;
}

.feed-wrapper .post-title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  clear: both;
}

.feed-wrapper .post-body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.feed-wrapper .post-stats {
  margin: 10px 0;
  font-size: 13px;
}

.feed-wrapper .post-likes {
  cursor: pointer;
  color: #999;
  margin-right: 20px;
}

.feed-wrapper .fa-heart, .feed-wrapper .fa-heart-o {
  color: #60b0c6;
  margin-right: 6px;
}

/* Replies styling*/
.feed-wrapper .post-replies-stats {
  cursor: pointer;
}

.feed-wrapper .post-replies-count {
  color: #999;
}

.feed-wrapper .fa-comment-o {
  color: #60b0c6;
  margin: 0 6px 0 0;
  position: relative;
  top: -1px;
}

.feed-wrapper .Spinner {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.feed-wrapper .reply-to-post-wrapper {
  clear: both;
}

.feed-wrapper .reply-to-post {
  margin: 5px 0 0 15px;
  float: left;
  width: 92%;
}

.feed-wrapper .reply:first-of-type {
  margin-top: 5px;
}

.feed-wrapper .reply:last-of-type {
  margin-bottom: 10px;
}

.feed-wrapper .reply {
  margin-bottom: 20px;
  font-size: 13px;
  float: left;
  clear: left;
}

.feed-wrapper .reply .avatar-wrapper {
  position: relative;
  top: 5px;
  margin-bottom: 15px;
  float:left;
}

.feed-wrapper .reply .reply-data {
  overflow: hidden;
}

.feed-wrapper .reply-to-post input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
}

.feed-wrapper .reply-username {
  font-size: 13px;
  color: #60b0c6;
  float: left;
  margin-top: 0;
}

.feed-wrapper .reply-likes {
  font-size: 12px;
  color: #555;
  cursor: pointer;
}

.feed-wrapper .reply-body {
  overflow-wrap: break-word;
  display: inline;
}

.feed-wrapper .reply-timestamp {
  font-size: 12px;
  margin-left: 5px;
  color: #999;
}

.feed-wrapper .reply-timestamp:before {
  content: "●";
  padding-right: 5px;
  font-size: 6px;
  position: relative;
  top: -2px;
}

/* Write Post Styling */
.feed-wrapper .post-to-community {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
}

.feed-wrapper .write-reply, #write-post-title, #write-post-body {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #DDD;
  resize: none;
}

#write-post-title, #write-post-body {
  border: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0;
  width: 88.7%;
}

#write-post-body {
  border-bottom: none;
}

#write-post-title:focus, #write-post-body:focus {
  background: transparent;
}

.feed-wrapper .post-btn {
  margin-top: 10px;
  margin-bottom: 0;
  float: right;
  padding: 8px 20px;
  cursor: pointer;
}

.feed-wrapper .write-reply {
  padding-left: 10px;
  background-color: #FAFAFA;
}

.feed-wrapper .write-reply-disabled {
  background-color: #DDDDDD;
}

.top-details {
  margin-top: 20px;
}

.session-box {
  position: absolute;
  z-index: 10;
  background-color: white;
}

i, .button, .post-stats {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
