/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* #056a85 #36879d #69a5b5 */

body {
  background-color: #FAFAFA;
}

/* Communities List styling */
.communities-wrapper {
  background-color: white;
  color: #333;
  border-radius: 3px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
  margin-top: 50px;
}

.communities-wrapper .title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.communities-wrapper .community-item {
  margin-bottom: 5px;
}

.communities-wrapper .gear-icn {
  opacity: 0;
}

.communities-wrapper .fa-cog {
  font-size: 12px;
  margin-right: 4px;
  opacity: 0;
  cursor: pointer;
  color: #333;
}

.communities-wrapper .opaque {
  opacity: 0.5;
}

.communities-wrapper .solid {
  opacity: 0.75;
}

.communities-wrapper .community-line {
  color: #60b0c6;
  text-transform: capitalize;
}

.communities-wrapper .community-name {
  font-size: 13px;
  cursor: pointer;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 6px;
  left: 2px;
}

.communities-wrapper a.button.tiny {
  margin: 0 0 0 10px;
  padding: 5px 10px;
  background-color: white;
  color: rgba(0,0,0,0.6);
  border: 1px solid #F0F0F0;
}


/* Feed styling */
.feed-wrapper .post {
    margin-bottom: 20px;
    padding: 20px 20px 12px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #EEE;
    border-bottom: 1px solid #DDD;
}

.feed-wrapper .title {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: capitalize;
}

.feed-wrapper .post-heading {
  margin-bottom: 20px;
}

.feed-wrapper .post-username {
  color: #60b0c6;
  font-size: 14px;
  vertical-align: top;
}

.feed-wrapper .post-timestamp {
  font-size: 12px;
  color: #CCC;
  display: block;
}

.feed-wrapper .post-title {
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  clear: both;
}

.feed-wrapper .post-body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.feed-wrapper .post-stats {
  margin: 10px 0;
  font-size: 13px;
}

.feed-wrapper .post-likes {
  cursor: pointer;
  color: #999;
  margin-right: 20px;
}

.feed-wrapper .fa-heart, .feed-wrapper .fa-heart-o {
  color: #60b0c6;
  margin-right: 6px;
}

/* Replies styling*/
.feed-wrapper .post-replies-stats {
  cursor: pointer;
}

.feed-wrapper .post-replies-count {
  color: #999;
}

.feed-wrapper .fa-comment-o {
  color: #60b0c6;
  margin: 0 6px 0 0;
  position: relative;
  top: -1px;
}

.feed-wrapper .Spinner {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.feed-wrapper .reply-to-post {
  margin-top: 5px;
}

.feed-wrapper .reply:first-of-type {
  margin-top: 5px;
}

.feed-wrapper .reply:last-of-type {
  margin-bottom: 10px;
}

.feed-wrapper .reply {
  margin-bottom: 5px;
  font-size: 14px;
}

.feed-wrapper .reply-to-post input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
}

.feed-wrapper .reply-username {
  font-size: 12px;
  color: #60b0c6;
}

.feed-wrapper .reply-likes {
  font-size: 12px;
  color: #555;
  cursor: pointer;
}

.feed-wrapper .reply-body {
  overflow-wrap: break-word;
}

.feed-wrapper .reply-timestamp {
  font-size: 12px;
  margin-left: 5px;
  color: #999;
}

.feed-wrapper .reply-timestamp:before {
  content: "●";
  padding-right: 5px;
  font-size: 6px;
  position: relative;
  top: -2px;
}

/* Write Post Styling */
.feed-wrapper .post-to-community {
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #DDD;
}

.feed-wrapper .write-reply, #write-post-title, #write-post-body {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #DDD;
  resize: none;
}

#write-post-title, #write-post-body {
  border: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0;
  width: 88.7%;
}

#write-post-body {
  border-bottom: none;
}

.feed-wrapper .post-btn {
  margin-top: 20px;
  margin-bottom: 0;
  float: right;
}

.feed-wrapper .write-reply {
  padding-left: 3px;
}

.top-details {
  top: 20px;
}

i, .button, .post-stats {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow_box {
  z-index: 7;
	position: absolute;
	background: #fefefe;
	border: 1px solid #EEE;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
  z-index: 7;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(254, 254, 254, 0);
	border-bottom-color: #fefefe;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(238, 238, 238, 0);
	border-bottom-color: #EEE;
	border-width: 31px;
	margin-left: -31px;
}
